[app]
Root_SDK_Dir = /home/kesar/soft/android/sdk
git_clone_address = git@git.umlife.net:AdxmiApp/Memo.git
git_branch_name = dev
assembleRelease = True
apk_name = app.apk

[dir]
base_file_dir = /home/kesar/StudioProjects/PackApk/build
create_dir_name = Memo


[optional]
create_code_dir_name = SourceCode
create_apk_dir_name = Apk